@charset "UTF-8";

body {
  font-family: Verdana, sans-serif;
}

/* buttonのheightが21px以下だと見た目が変わる（全角半角で高さが変わる） */
/* buttonのブラウザ標準スタイルをリセットして最初から作り直す */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.container button {
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
}

.container button:hover {
  background: #f2f2f2;
}

.category-area {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

#question {
  padding: 10px 0;
  border: 1px solid #aaa;
  border-left: 0;
  border-right: 0;
  margin-bottom: 10px;
}

#answer-list {
  list-style: none;
  padding: 0;
}

#answer-list > li {
  margin-bottom: 8px;
}